@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(6rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box; }

@media (min-width: 1440px) {
  html {
    zoom: 1.5; } }

@media (min-width: 2560px) {
  html {
    zoom: 1.7; } }

@media (min-width: 3860px) {
  html {
    zoom: 2.5; } }

@media only screen and (max-width: 850px) {
  html {
    font-size: 55.5%; } }

@font-face {
  font-family: 'Heebo';
  src: url("../fonts/Heebo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  font-weight: 400;
  line-height: 1.7;
  font-family: "Heebo", Sans-serif;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.75)), url(../../img/pexels-ian.jpg);
  background-position: center;
  background-size: cover; }

::-webkit-scrollbar {
  width: 1.3rem; }

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out; }

::-webkit-scrollbar-thumb:hover {
  background: #222224; }

::-webkit-scrollbar-track {
  background: #f9f9f9; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.flex {
  display: flex; }

.grid {
  display: grid; }

.btn:hover {
  transform: translateY(-0.3rem); }

.btn:active {
  transform: translateY(-0.1rem); }

.gallery {
  display: flex;
  align-items: center;
  height: 70vh;
  background-image: linear-gradient(to right bottom, rgba(49, 49, 49, 0.8), rgba(56, 56, 56, 0.5)), url(../../img/img-main/img-main6.jpeg);
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 100%);
  background-position: 0 35%;
  transition: background-image 1s ease-in-out 0s;
  animation: moveInBottom 0.7s ease-out;
  animation-fill-mode: backwards;
  justify-content: center;
  margin-bottom: 5rem; }
  .gallery__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    margin-bottom: 10rem; }
  .gallery__logo {
    max-width: 25%;
    border-bottom: 0.3rem solid #fff;
    border-top: 0.3rem solid #fff; }
  .gallery__phone_details {
    display: flex;
    align-items: center;
    gap: 0.7rem; }
    .gallery__phone_details .tel {
      text-decoration: none;
      font-weight: 600;
      color: #fff;
      font-size: 2rem;
      white-space: nowrap;
      letter-spacing: 0.2rem; }
    .gallery__phone_details img {
      width: 11%; }

@media only screen and (max-width: 850px) {
  .gallery {
    height: 65vh;
    clip-path: polygon(0 0, 100% 0, 100% 55vh, 0 100%); }
    .gallery__logo {
      max-width: 40%;
      top: 35%; }
    .gallery__content {
      gap: 2rem; }
    .gallery__phone_details {
      display: flex;
      align-items: center; }
      .gallery__phone_details .tel {
        font-size: 1.5rem; }
      .gallery__phone_details .phone-icon-white {
        height: 1.7rem; } }

.composition {
  position: relative; }
  .composition__photo {
    width: 45%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    border-radius: 1.5rem; }
    .composition__photo--p1 {
      left: 10%;
      top: 0; }
    .composition__photo--p2 {
      right: 15%;
      top: 3rem; }
    .composition__photo--p3 {
      left: 25%;
      top: 10rem; }
    .composition__photo:hover {
      transform: scale(1.1) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

@media screen and (max-width: 1050px) and (min-width: 750px) {
  .composition {
    padding-bottom: 40rem; }
    .composition__photo {
      width: 30%; }
      .composition__photo--p1 {
        left: 21%; }
      .composition__photo--p2 {
        right: 25%; }
      .composition__photo--p3 {
        left: 32%; } }

@media only screen and (max-width: 750px) {
  .composition {
    padding-bottom: 40rem; }
    .composition__photo {
      width: 35%; }
      .composition__photo--p2 {
        right: 11%; }
      .composition__photo--p3 {
        left: 33%;
        top: 7rem; } }

@media only screen and (max-width: 550px) {
  .composition {
    padding-bottom: 31rem; } }

@media only screen and (max-width: 400px) {
  .composition {
    padding-bottom: 25rem; } }

.services {
  background-image: linear-gradient(to right bottom, rgba(49, 49, 49, 0.8), rgba(56, 56, 56, 0.5)), url(../../img/signin-logo/tablets.jpeg);
  transform: skewY(-4deg);
  display: flex;
  justify-content: center; }
  .services > * {
    transform: skewY(4deg); }
  .services__grid-box {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5rem 0;
    padding: 12rem 0;
    width: 85%; }
    .services__grid-box--col:nth-child(1) {
      grid-column: 1/4; }
    .services__grid-box--col:nth-child(2) {
      grid-column: 5/8; }
    .services__grid-box--col:nth-child(3) {
      grid-column: 9/-1; }
    .services__grid-box--col:nth-child(4) {
      grid-column: 3/6; }
    .services__grid-box--col:nth-child(5) {
      grid-column: 7/10; }
  .services__grid-box--col {
    display: flex;
    align-items: stretch; }
  .services__box {
    background-color: rgba(0, 0, 0, 0.79);
    color: #fff;
    border-radius: 1.5rem;
    transition: transform .3s;
    text-align: center;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  .services__img {
    width: 85%;
    height: 40vh;
    padding-top: 10px; }
  .services__title {
    font-size: 2.2rem; }
  .services__text {
    font-size: 1.5rem;
    padding: 1.7rem 1.2rem; }

@media screen and (max-width: 1050px) and (min-width: 700px) {
  .services__grid-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 5rem; }
    .services__grid-box--col {
      justify-content: center; }
    .services__grid-box--col:nth-child(1) {
      grid-column: 1; }
    .services__grid-box--col:nth-child(2) {
      grid-column: 2; }
    .services__grid-box--col:nth-child(3) {
      grid-column: 1; }
    .services__grid-box--col:nth-child(4) {
      grid-column: 2; }
    .services__grid-box--col:nth-child(5) {
      grid-column: 1; }
  .services__box {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.2rem;
    width: 75%; }
  .services__title {
    white-space: nowrap; } }

@media screen and (max-width: 700px) and (min-width: 500px) {
  .services__box {
    width: 66%; } }

@media screen and (max-width: 500px) and (min-width: 400px) {
  .services__img {
    width: 65%; } }

@media only screen and (max-width: 700px) {
  .services__grid-box {
    display: flex;
    flex-direction: column;
    width: 63%; }
    .services__grid-box--col {
      justify-content: center; }
  .services__img {
    height: 35vh; }
  .services__box {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.2rem; }
  .services__title {
    white-space: nowrap; } }

.container {
  max-width: 124rem;
  padding: 0 1rem;
  margin: 0 auto; }

.section-heading {
  font-size: 3.5rem;
  padding: 2rem 0; }

#tranding {
  padding: 4rem 0 0; }
  #tranding .tranding-slider {
    border-bottom: 3px solid #FFFFFF;
    height: 47rem;
    padding: 0 2rem;
    position: relative; }
  @media (max-width: 1440px) {
    #tranding {
      padding: 7rem 0 0 0; } }
  @media (max-width: 500px) {
    #tranding {
      padding: 7rem 0 0 0; }
      #tranding .tranding-slider {
        height: 40rem; } }

.tranding-slide {
  width: 37rem;
  height: 42rem;
  position: relative; }
  @media (max-width: 500px) {
    .tranding-slide {
      width: 28rem !important;
      height: 36rem !important; }
      .tranding-slide .tranding-slide-img img {
        width: 28rem !important;
        height: 36rem !important; } }
  .tranding-slide .tranding-slide-img img {
    width: 37rem;
    height: 42rem;
    border-radius: 2rem;
    object-fit: cover;
    transition: all 0.3s; }

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none; }

.tranding-slider-control {
  position: relative;
  top: -25rem; }
  .tranding-slider-control .swiper-button-next {
    right: 0 !important; }
    .tranding-slider-control .swiper-button-next:active {
      transform: translateY(0.2rem); }
    @media (max-width: 450px) {
      .tranding-slider-control .swiper-button-next {
        display: none; } }
  .tranding-slider-control .swiper-button-prev {
    left: 0 !important; }
    .tranding-slider-control .swiper-button-prev:active {
      transform: translateY(0.2rem); }
    @media (max-width: 450px) {
      .tranding-slider-control .swiper-button-prev {
        display: none; } }
  .tranding-slider-control .slider-arrow {
    background: rgba(255, 255, 255, 0.6);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1)); }
    .tranding-slider-control .slider-arrow ion-icon {
      font-size: 2rem;
      color: #222224; }
    .tranding-slider-control .slider-arrow::after {
      content: ''; }

.header {
  height: 7rem;
  padding: 1rem 8.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  white-space: nowrap;
  background: linear-gradient(to right, #4b4946, #d4d1c9); }
  .header__info {
    display: flex;
    align-items: center;
    gap: 4rem;
    font-size: 2rem; }
  .header__logo {
    height: 6.5rem;
    margin-top: 1rem; }
  .header__navigate {
    display: flex;
    align-items: center; }
  .header .nav__list {
    display: flex;
    gap: 6rem;
    list-style: none;
    flex-direction: row-reverse; }
  .header .nav__item a {
    text-decoration: none;
    font-weight: 600;
    color: #000; }
    .header .nav__item a:hover {
      box-shadow: inset 0 -0.3rem #DD795B;
      padding-bottom: 2rem;
      transition: box-shadow 0.3s ease, padding-bottom 0.1s ease;
      color: #DD795B; }

@media only screen and (max-width: 700px) {
  .header {
    padding: 1rem 1.5rem;
    height: 8rem; }
    .header__logo {
      height: 4.5rem; }
    .header .nav__list {
      display: none; } }

.footer {
  height: 7.3rem;
  padding: 1rem 5.5rem;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #5d5d5d; }
  .footer__signin-logo {
    width: 12%; }
  .footer__copyright {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: -3.5rem; }

@media only screen and (max-width: 950px) {
  .footer {
    height: 9rem;
    flex-direction: column;
    justify-content: center;
    gap: 1rem; }
    .footer__signin-logo {
      width: 20%; }
    .footer__copyright {
      margin-bottom: 0; } }

.contact {
  padding: 0 5.5rem 3rem;
  font-size: 17px; }
  .contact__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.8rem; }
  .contact__connect {
    display: flex;
    align-items: center;
    gap: 1.5rem; }
  .contact__link {
    height: 2.1rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem; }
  .contact__icon {
    max-width: 100%;
    width: auto;
    height: 2.1rem; }
  .contact__text {
    color: #494949;
    white-space: nowrap; }
  .contact .tel {
    margin-left: 1.8rem; }
  .contact .email {
    margin-bottom: 15px; }
  .contact__title {
    font-weight: 700;
    font-size: 3.5rem;
    margin-top: 25px;
    margin-bottom: 10px; }

.about {
  padding: 16rem 0 8rem 0;
  margin-top: -25vh;
  margin-bottom: 20vh; }
  .about__title {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    color: #000;
    letter-spacing: .3rem;
    transition: all .2s; }
    .about__title:hover {
      text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }
  .about__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem; }
  .about__text {
    margin-right: 10rem;
    font-size: 1.6rem;
    font-family: sans-serif;
    color: #000; }
  .about__imgs {
    margin-left: 10rem; }

@media screen and (max-width: 1050px) and (min-width: 750px) {
  .about {
    margin-top: -25vh; }
    .about__content {
      display: flex;
      flex-direction: column-reverse;
      gap: 5rem; }
    .about__text {
      margin: 0;
      font-size: 1.6rem;
      padding: 0 6rem; } }

@media only screen and (max-width: 750px) {
  .about {
    margin-bottom: 0;
    margin-top: -25vh; }
    .about__title {
      font-size: 3rem;
      padding: 0 5px; }
    .about__content {
      display: flex;
      flex-direction: column-reverse; }
    .about__text {
      margin: 0;
      font-size: 1.6rem;
      padding: 0 6rem; }
    .about__imgs {
      margin: 5rem 0 0 0; } }
