@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(6rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box; }

@media only screen and (max-width: 850px) {
  html {
    font-size: 55.5%; } }

@font-face {
  font-family: 'Heebo';
  src: url("../fonts/Heebo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  font-weight: 400;
  line-height: 1.7;
  font-family: "Heebo", Sans-serif;
  background-color: #F7F7F7; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.btn:hover {
  transform: translateY(-0.3rem); }

.btn:active {
  transform: translateY(-0.1rem); }

.gallery {
  display: flex;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(49, 49, 49, 0.8), rgba(56, 56, 56, 0.5)), url(../../img/img-main/img-main4.jpeg);
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 82vh, 0 100%);
  background-position: 0 35%;
  transition: background-image 1s ease-in-out 0s;
  animation: moveInBottom 0.7s ease-out;
  animation-fill-mode: backwards;
  justify-content: center;
  margin-bottom: 5rem; }
  .gallery__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    margin-bottom: 7rem; }
  .gallery__logo {
    max-width: 45%;
    border-bottom: 0.3rem solid #fff;
    border-top: 0.3rem solid #fff; }
  .gallery__phone_details {
    display: flex;
    align-items: center;
    gap: 1rem; }
    .gallery__phone_details .tel {
      text-decoration: none;
      font-weight: 600;
      color: #fff;
      font-size: 2.5rem;
      white-space: nowrap;
      letter-spacing: 0.2rem; }

@media only screen and (max-width: 850px) {
  .gallery {
    height: 65vh;
    clip-path: polygon(0 0, 100% 0, 100% 55vh, 0 100%); }
    .gallery__logo {
      max-width: 40%;
      top: 35%; } }

.composition {
  position: relative; }
  .composition__photo {
    width: 35%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 10;
    transition: all 0.2s; }
    .composition__photo--p1 {
      left: 10%;
      top: 0; }
    .composition__photo--p2 {
      right: 25%;
      top: 3rem; }
    .composition__photo--p3 {
      left: 25%;
      top: 10rem; }
    .composition__photo:hover {
      transform: scale(1.1) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

@media only screen and (max-width: 850px) {
  .composition {
    margin-bottom: 20rem; }
    .composition__photo--p3 {
      left: 33%;
      top: 7rem; }
    .composition__photo--p2 {
      right: 11%; } }

.services {
  background-image: linear-gradient(to right bottom, rgba(49, 49, 49, 0.8), rgba(56, 56, 56, 0.5)), url(../../img/signin-logo/tablets.jpeg);
  transform: skewY(-4deg);
  margin-bottom: 6.5rem; }
  .services > * {
    transform: skewY(4deg); }
  .services__flex-box {
    display: grid;
    grid-auto-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(5, 1fr);
    padding: 12rem 5rem;
    gap: 5rem; }
  .services__box {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1.5rem;
    border-radius: 3px;
    transition: transform .3s; }
    .services__box:hover {
      transform: translateY(-1.5rem) scale(1.03); }
  .services__img {
    width: 100%; }
  .services__title {
    font-size: 16px; }
  .services__text {
    font-size: 12px; }

@media only screen and (max-width: 850px) {
  .services__flex-box {
    grid-template-columns: 1fr;
    padding: 8rem 5rem; }
  .services__box {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 12px; } }

.header {
  height: 7rem;
  padding: 1rem 8.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  white-space: nowrap;
  background: linear-gradient(to right, #4b4946, #d4d1c9); }
  .header__info {
    display: flex;
    align-items: center;
    gap: 4rem;
    font-size: 2rem; }
  .header__logo {
    height: 6.5rem;
    margin-top: 1rem; }
  .header__navigate {
    display: flex;
    align-items: center; }
  .header .nav__list {
    display: flex;
    gap: 6rem;
    list-style: none;
    flex-direction: row-reverse; }
  .header .nav__item a {
    text-decoration: none;
    font-weight: 600;
    color: #000; }
    .header .nav__item a:hover {
      box-shadow: inset 0 -0.3rem #DD795B;
      padding-bottom: 2rem;
      transition: box-shadow 0.3s ease, padding-bottom 0.1s ease;
      color: #DD795B; }

@media only screen and (max-width: 850px) {
  .header {
    padding: 1rem 1.5rem; }
    .header__logo {
      height: 4.5rem; }
    .header .nav__list {
      display: none; } }

.footer {
  height: 10rem;
  padding: 1rem 5.5rem;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  background-color: #e2e2e2;
  justify-content: space-between; }
  .footer__signin-logo {
    width: 20%; }
  .footer__logo-copyright {
    text-align: center; }
  .footer__connect {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 10px; }
  .footer__link {
    height: 2.5rem;
    text-decoration: none;
    align-items: center;
    display: flex;
    gap: 1rem; }
  .footer__icon {
    max-width: 100%;
    width: auto;
    height: 2.1rem; }
  .footer__text {
    font-weight: 600;
    color: #000;
    white-space: nowrap; }
  .footer__copyright {
    font-size: 12px; }
  .footer .tel {
    margin-bottom: 5px; }

@media only screen and (max-width: 850px) {
  .footer {
    height: 17rem;
    flex-direction: column; } }

.about {
  padding: 16rem 0 13rem 0;
  margin-top: -20vh; }
  .about__title {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    color: #000;
    letter-spacing: .3rem;
    transition: all .2s; }
    .about__title:hover {
      text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }
  .about__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem; }
  .about__text {
    margin-right: 13rem;
    font-size: 1.6rem;
    font-family: sans-serif;
    color: #494949; }
  .about__imgs {
    margin-left: 13rem; }

@media only screen and (max-width: 850px) {
  .about__title {
    font-size: 2.3rem; }
  .about__content {
    display: flex;
    flex-direction: column-reverse; }
  .about__text {
    margin: 0;
    font-size: 1.6rem;
    padding: 0 20px; }
  .about__imgs {
    margin: 0;
    text-align: center; } }
