//COLORS
$color-orange-red: #DD795B;

$color-white: #fff;
$color-black: #000;
$color-bg: #f5f5f5;

$color-primary-light-background-body: #F7F7F7;
$color-footer: #5d5d5d;

$color-gray-dark-header: #4b4946;
$color-gray-light-header: #d4d1c9;

$text-color: #494949;

$dark-grey: rgba(49, 49, 49, 0.8);
$light-grey: rgba(56, 56, 56, 0.5);



//FONTS
$default-font-size: 1.6rem;