//COLORS
$color-orange-red: #DD795B;

$color-white: #fff;
$color-black: #000;

$color-footer: #5d5d5d;

$color-gray-dark-header: #6d6a6a;

$text-color: #494949;

$dark-grey: rgba(49, 49, 49, 0.8);
$light-grey: rgba(56, 56, 56, 0.5);


//FONTS
$default-font-size: 1.6rem;