$color-orange-red: #DD795B;
$color-beige: #ece6db;


$color-white: #fffcf3;
$color-black: #000000;
$color-black-light: #302E2A;

$color-gray-light: #6c757d;
$color-gray-dark: #777;
$color-header-dark: #5a94c5;
$color-header-light: #e9f5ff;