.contact {
  padding: 0 5.5rem 3rem;
  font-size: 1.7rem;

  &__container {
    @include flex-center;
    flex-direction: column;
    gap: 1.8rem;
  }


  &__connect {
    @include flex-center;
    gap: 1.5rem;
  }

  &__link {
    height: 2.1rem;
    text-decoration: none;
    @include flex-center;
    gap: 1rem;
  }

  &__icon {
    max-width: 100%;
    width: auto;
    height: 2.1rem;
  }

  &__text {
    color: $text-color;
    white-space: nowrap;
  }

  .tel {
    margin-left: 1.8rem;
  }

  .email {
    margin-bottom: 1.5rem;
  }

  &__title {
    font-size: 2.8rem;
    padding: 2rem 0;
  }

}