.contact {
  padding: 0 5.5rem 3rem;
  font-size: 17px;

  &__container {
    @include flex-center;
    flex-direction: column;
    gap: 1.8rem;
  }


  &__connect {
    @include flex-center;
    gap: 1.5rem;
  }

  &__link {
    height: 2.1rem;
    text-decoration: none;
    @include flex-center;
    gap: 1rem;
  }

  &__icon {
    max-width: 100%;
    width: auto;
    height: 2.1rem;
  }

  &__text {
    color: $text-color;
    white-space: nowrap;
  }

  .tel {
    margin-left: 1.8rem;
  }

  .email {
    margin-bottom: 15px;
  }

  &__title {
    font-weight: 700;
    font-size: 3.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #392d2d;
  }

}