.contact {
  padding: 0 5.5rem 3rem;
  font-size: 1.7rem;

  &__container {
    @include flex-center;
    flex-direction: column;
    gap: 1.8rem;
  }


  &__connect {
    @include flex-center;
    gap: 1.5rem;
  }

  &__link {
    height: 2.1rem;
    text-decoration: none;
    @include flex-center;
    gap: 1rem;
  }

  &__icon {
    max-width: 100%;
    width: auto;
    height: 2.1rem;
  }

  &__text {
    color: $text-color;
    white-space: nowrap;
  }

  .tel {
    margin-left: 1.8rem;
  }

  .email {
    margin-bottom: 1.5rem;
  }

  &__title {
    padding: 2rem 0;
    font-size: clamp(2.5rem, 5vw, 3.5rem);
    font-weight: 400;
    line-height: 1.2;
  }

}