.footer {
  height: 5.3rem;
  padding: 1rem 5.5rem;
  position: sticky;
  @include flex-center;
  justify-content: space-between;
  background-color: $color-footer;

  &__signin-logo {
    width: 10%;
    margin-left: 3.5rem;
  }

  &__copyright {
    font-size: 1.2rem;
    color: $color-white;
    margin-bottom: -2.5rem;
    margin-right: 3rem;
  }

}

@media only screen and (max-width: 1450px) {
  .footer {
    height: 8.3rem;
  }
}

@media only screen and (max-width: 1000px) {
  .footer {
    &__signin-logo {
      width: 18%;
    }
  }
}

@media only screen and (max-width: 950px) {
  .footer {
    height: 11rem;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    &__signin-logo {
      width: 17%;
      margin-left: 0;
    }

    &__copyright {
      margin-bottom: 0;
      margin-right: 0;
    }
  }
}


@media only screen and (max-width: 650px) {

  .footer {

    &__signin-logo {
      width: 26%;
    }
  }
}


@media only screen and (max-width: 500px) {
  .footer {

    &__signin-logo {
      width: 30%;
    }
  }
}

@media only screen and (max-width: 370px) {
  .footer {

    &__signin-logo {
      width: 40%;
    }
  }
}