.footer {
  height: 7.3rem;
  padding: 1rem 5.5rem;
  position: sticky;
  @include flex-center;
  justify-content: space-between;
  background-color: $color-footer;

  &__signin-logo {
    width: 12%;
  }

  &__copyright {
    font-size: 1.2rem;
    color: $color-white;
    margin-bottom: -3.5rem;
  }

}

@media only screen and (max-width: 950px) {
  .footer {
    height: 9rem;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    &__signin-logo {
      width: 20%;
    }

    &__copyright {
      margin-bottom: 0;
    }
  }
}