.header {
  height: 7rem;
  padding: 1rem 8.5rem;
  @include flex-center;
  justify-content: space-between;
  font-size: 1.5rem;
  white-space: nowrap;
  background: linear-gradient(to right, $color-gray-dark-header, $color-gray-light-header);


  &__info {
    @include flex-center;
    gap: 4rem;
    font-size: 2rem;
  }

  &__logo {
    height: 6.5rem;
    margin-top: 1rem;
  }

  &__navigate {
    @include flex-center;
  }

  .nav {
    &__list {
      display: flex;
      gap: 6rem;
      list-style: none;
      flex-direction: row-reverse;
    }

    &__item a {
      text-decoration: none;
      font-weight: 600;
      color: $color-black;

      &:hover {
        box-shadow: inset 0 -.3rem $color-orange-red;
        padding-bottom: 2rem;
        transition: box-shadow 0.3s ease, padding-bottom 0.1s ease;
        color: $color-orange-red;
      }
    }
  }
}



@media only screen and (max-width: 850px) {
  .header {
    padding: 1rem 1.5rem;
    height: 8rem;

    &__logo {
      height: 4.5rem;
    }

    .nav {
      &__list {
        display: none;
      }
    }
  }
}