.about {
  margin-top: -15vh;
  margin-bottom: 4vh;
  @include flex-center;
  flex-direction: column;

  &__text {

    font-size: 3.3rem;
    padding: 4rem 6rem;
    text-align: center;
    line-height: 2;
    overflow: hidden;

    &-title {
      font-size: 8rem;
      font-weight: 200;
    }

    &-subtitle {
      font-weight: 200;
    }

    &-highlight {
      font-weight: 200;
    }
  }

}