.composition {
  position: relative;

  &__photo {
    width: 35%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    border-radius: 1.5rem;

    &--p1 {
      left: 10%;
      top: 0;
    }


    &--p2 {
      right: 25%;
      top: 3rem;
    }

    &--p3 {
      left: 25%;
      top: 10rem;
    }


    &:hover {
      transform: scale(1.10) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      z-index: 20;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}


@media only screen and (max-width: 850px) {
  .composition {
    margin-bottom: 30rem;

    &__photo--p3 {
      left: 33%;
      top: 7rem;
    }

    &__photo--p2 {
      right: 11%;
    }
  }
}