.composition {
  position: relative;

  &__photo {
    width: 38%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    border-radius: 1.5rem;

    &--p1 {
      left: 5%;
      top: 0;
    }


    &--p2 {
      right: 13%;
      top: 3rem;
    }

    &--p3 {
      left: 25%;
      top: 8rem;
    }


    &:hover {
      transform: scale(1.10) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      z-index: 20;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}

@media screen and (max-width: 1050px) and (min-width: 750px) {
  .composition {
    padding-bottom: 40rem;

    &__photo {
      width: 28%;

      &--p1 {
        left: 7%;
      }

      &--p2 {
        right: 16%;
        top: 0;
      }

      &--p3 {
        left: 32%;
        top: 4rem;
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  .composition {
    padding-bottom: 40rem;

    &__photo {
      width: 30%;

      &--p2 {
        right: 11%;
        top: 0;
      }

      &--p3 {
        left: 33%;
        top: 5rem;
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .composition {
    padding-bottom: 31rem;
  }
}

@media only screen and (max-width: 400px) {
  .composition {
    padding-bottom: 25rem;
  }
}