.gallery {
  @include flex-center;
  height: 100vh;
  background-image: linear-gradient(to right bottom, $dark-grey, $light-grey), url(../../img/img-main/img-main4.jpeg);
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 82vh, 0 100%);
  @include background-position(0 35%);
  transition: background-image 1s ease-in-out 0s;
  animation: moveInBottom 0.7s ease-out;
  animation-fill-mode: backwards;
  justify-content: center;
  margin-bottom: 5rem;

  &__content {
    @include flex-center;
    flex-direction: column;
    gap: 4rem;
    margin-bottom: 7rem;
  }

  &__logo {
    max-width: 45%;
    border-bottom: .3rem solid $color-white;
    border-top: .3rem solid $color-white;
  }

  &__phone_details {
    @include flex-center;
    gap: 1rem;

    .tel {
      text-decoration: none;
      font-weight: 600;
      color: $color-white;
      font-size: 2.5rem;
      white-space: nowrap;
      letter-spacing: 0.2rem;
    }
  }

}

@media only screen and (max-width: 850px) {
  .gallery {
    height: 65vh;
    clip-path: polygon(0 0, 100% 0, 100% 55vh, 0 100%);

    &__logo {
      max-width: 40%;
      top: 35%;
    }

    &__content {
      gap: 2rem
    }


    &__phone_details {
      @include flex-center;


      .tel {
        font-size: 1.5rem;
      }

      .phone-icon-white {
        height: 1.7rem;
      }
    }
  }
}