// Responsive Zoom Levels
@media (min-width: 1440px) {
  html {
    zoom: 1.5;
  }
}

@media (min-width: 2560px) {
  html {
    zoom: 1.7;
  }
}

@media (min-width: 3860px) {
  html {
    zoom: 2.5;
  }
}

// Scrollbar Styles
::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

// Container Styles
.container {
  max-width: 124rem;
  padding: 0 1rem;
  margin: 0 auto;
}

// Section Heading
.section-heading {
  font-size: 3.5rem;
  padding: 2rem 0;
}

// Tranding Section
#tranding {
  padding: 4rem 0 0;

  .tranding-slider {
    border-bottom: 3px solid #FFFFFF;
    height: 47rem;
    padding: 0 2rem;
    position: relative;
  }

  @media (max-width: 1440px) {
    padding: 7rem 0 0 0;
  }

  @media (max-width: 500px) {
    padding: 7rem 0 0 0;

    .tranding-slider {
      height: 40rem;
    }
  }
}

// Tranding Slide
.tranding-slide {
  width: 37rem;
  height: 42rem;
  position: relative;

  @media (max-width: 500px) {
    width: 28rem !important;
    height: 36rem !important;

    .tranding-slide-img img {
      width: 28rem !important;
      height: 36rem !important;
    }
  }

  .tranding-slide-img img {
    width: 37rem;
    height: 42rem;
    border-radius: 2rem;
    object-fit: cover;
    transition: all 0.3s;
  }
}

// Swiper Slide Shadow
.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

// Tranding Slider Control
.tranding-slider-control {
  position: relative;
  top: -25rem;

  .swiper-button-next {
    right: 0 !important;

    &:active {
      transform: translateY(0.2rem);
    }

    @media (max-width: 450px) {
      display: none;
    }
  }

  .swiper-button-prev {
    left: 0 !important;

    &:active {
      transform: translateY(0.2rem);
    }

    @media (max-width: 450px) {
      display: none;
    }
  }

  .slider-arrow {
    background: rgba($color-white, 0.6);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));

    ion-icon {
      font-size: 2rem;
      color: #222224;
    }

    &::after {
      content: '';
    }
  }
}