*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-weight: 400;
  line-height: 1.7;
  font-family: "Heebo", Sans-serif;
}

.main-content {
  padding-top: 4rem;
}

// Responsive Zoom Levels
@media (min-width: 1440px) {
  html {
    zoom: 1.5;
  }
}

@media (min-width: 2560px) {
  html {
    zoom: 1.7;
  }
}

@media (min-width: 3860px) {
  html {
    zoom: 2.5;
  }
}

@media only screen and (max-width: 850px) {
  html {
    font-size: 55.5%;
  }
}