@font-face {
  font-family: 'Heebo';
  src: url('../fonts/Heebo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  font-weight: 400;
  line-height: 1.7;
  font-family: "Heebo", Sans-serif;
  background-color: $color-bg;
}