.about {
  white-space: normal;
  position: relative;
  top: -11rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    box-shadow: 0 .8rem 2.8rem #858585;
    padding: 3rem;
    background-color: #fff;
    width: 80%;
    height: auto;
    overflow: auto;
    text-align: center;

    overflow-y: hidden;
    overflow-x: hidden;
    border-radius: 1.5rem;
  }

  &__title {
    font-size: xx-large;
  }

  &__paragraph {
    font-size: 1.5rem;
    padding: 3rem;
  }


}