.about {
  padding: 16rem 0 13rem 0;
  margin-top: -20vh;
  margin-bottom: 10vh;

  &__title {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    color: $color-black;
    letter-spacing: .3rem;
    transition: all .2s;

    &:hover {
      text-shadow: .5rem 1rem 2rem rgba($color-black, 0.2);
    }

  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  &__text {
    margin-right: 13rem;
    font-size: $default-font-size;
    font-family: sans-serif;
    color: $text-color;
  }

  &__imgs {
    margin-left: 13rem;
  }
}

@media only screen and (max-width: 750px) {
  .about {
    margin-bottom: 0;

    &__title {
      font-size: 2.3rem;
    }

    &__content {
      display: flex;
      flex-direction: column-reverse;
    }

    &__text {
      margin: 0;
      font-size: $default-font-size;
      padding: 0 2rem;
    }

    &__imgs {
      margin: 5rem 0 7rem 0;
    }
  }
}


@media screen and (max-width: 1050px) and (min-width: 750px) {
  .about {
    margin-top: -25vh;
    margin-bottom: 51vh;

    &__content {
      display: flex;
      flex-direction: column-reverse;
      gap: 5rem;
    }

    &__text {
      margin: 0;
      font-size: $default-font-size;
      padding: 0 2rem;
    }

  }
}