.service {
  margin: 1.5rem 5rem;
  font-size: 1.1rem;

  &__small-line {
    max-width: 5rem;
    margin: 1.5rem auto;
    border: 0;
    border-top: 2px solid $color-orange-red;
  }

  &__medium-line {
    max-width: 60%;
    margin: 1.5rem auto;
    border: 0;
    border-top: 2px solid $color-orange-red;
  }

  &__large-line {
    max-width: 90%;
    margin: 1.5rem auto;
    border: 0;
    border-top: 2px solid #e9e1e161;
  }


  &-header {
    &__title {
      font-size: 4rem;
      letter-spacing: 3px;
      font-weight: 200;
      padding: 2rem 0 0;
      font-family: "Fredoka", sans-serif;
      overflow: hidden;
    }
  }

  &-text {
    margin: 3rem 8rem 2rem;
    font-size: 1.3rem;
  }


  &-offerings {
    margin-bottom: 2rem;

    &__subtitle {
      font-size: 3rem;
      font-weight: 200;
      margin-bottom: 7px;
      overflow: hidden;
    }

    &__content {
      display: flex;
      gap: 4rem;
      padding-top: 3rem;
    }

    &__icon {
      width: 60px;
      height: 60px;
      margin-bottom: 2rem;
      opacity: 0;
      transform: translateY(6rem);

      &.animate {
        animation: moveInBottom 0.5s ease-out forwards;
      }
    }

    &__title {
      font-weight: bold;
      color: $color-orange-red;
      font-size: 1.6rem;
      margin-bottom: 1.2rem;
    }

  }

  &-benefits {
    margin-bottom: 2rem;

    &__subtitle {
      font-size: 3rem;
      font-weight: 200;
      margin-bottom: 7px;
    }

    &__text {
      margin: 3rem 9rem 0;
      font-size: 1.4rem;
    }

    &__item {
      position: relative;
      display: block;
      text-indent: -1.8rem;
      line-height: 1.6;

      &::before {
        content: '✔';
        color: $color-orange-red;
        font-size: 1.6rem;
        margin-left: 0.3rem;
      }
    }
  }

  &-summary {
    margin: 3rem 0;
    font-size: 1.6rem;
  }

}

@media only screen and (max-width: 1450px) {
  .service {

    &-header {
      &__title {
        padding: 3rem 0 0;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .service {
    &-benefits {
      &__text {
        margin: 0 6rem;
        font-size: 1.6rem;
      }

      &__item::before {
        font-size: 2rem;
      }
    }

    &-summary {
      font-size: 2.2rem;
    }

  }
}


@media only screen and (max-width: 950px) {
  .service {
    &-text {
      font-size: 1.8rem;
      margin: 0 0 5rem;
    }

    &-offerings {
      &__subtitle {
        font-size: 3.5rem;
      }

      &__title {
        font-size: 2rem;
      }

      &__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 5rem;
      }

      &__icon {
        width: 85px;
        height: 85px;
      }

      &__text {
        padding: 0 2rem;
        font-size: 1.5rem;
      }

    }

    &-benefits {
      &__subtitle {
        font-size: 3.5rem;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .service {
    &-benefits {
      &__text {
        font-size: 1.8rem;
      }

      &__item::before {
        font-size: 2.2rem;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .service {
    &-header__title {
      padding: 4rem 0 0;
    }
  }
}


@media only screen and (max-width: 650px) {
  .service {
    &-header {
      &__title {
        font-size: 3.5rem;
      }
    }

    &-offerings {
      &__item {
        width: auto;
      }

      &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.5rem;
      }

      &__title {
        font-size: 2.6rem;
      }

      &__text {
        padding: 0 8rem;
      }

    }

    &-benefits {
      &__text {
        margin: 3rem 0;
      }

      &__item {
        font-size: 1.6rem;
      }

      &__item::before {
        font-size: 2.2rem;
      }
    }

    &-summary {
      font-size: 2rem;
      font-weight: 500;
    }
  }
}

@media only screen and (max-width: 500px) {
  .service {
    &-offerings {
      &__text {
        padding: 0 4rem;
      }
    }
  }
}

@media only screen and (max-width: 430px) {
  .service {
    &-offerings {
      &__text {
        padding: 0;
      }
    }
  }
}