.service {
  margin: 1.5rem 5rem;
  font-size: 1.1rem;

  &__small-line {
    max-width: 5rem;
    margin: 1.5rem auto;
    border: 0;
    border-top: 2px solid $color-orange-red;
  }

  &__medium-line {
    max-width: 60%;
    margin: 1.5rem auto;
    border: 0;
    border-top: 2px solid $color-orange-red;
  }

  &__large-line {
    max-width: 90%;
    margin: 1.5rem auto;
    border: 0;
    border-top: 2px solid #e9e1e161;
  }


  &-header {
    &__title {
      font-size: 4rem;
      letter-spacing: 3px;
      font-weight: 200;
      padding: 4rem 0 0;
      font-family: "Fredoka", sans-serif;
      overflow: hidden;
    }
  }

  &-text {
    margin: 3rem 11rem 2rem;
  }


  &-offerings {
    margin-bottom: 2rem;

    &__subtitle {
      font-size: 3rem;
      font-weight: 200;
      margin-bottom: 7px;
      overflow: hidden;
    }

    &__content {
      display: flex;
      gap: 4rem;
      padding-top: 3rem;
    }

    &__item {
      width: 50%;
    }

    &__icon {
      max-width: 35%;
      margin-bottom: 2rem;
      opacity: 0;
      transform: translateY(6rem);

      &.animate {
        animation: moveInBottom 0.5s ease-out forwards;
      }
    }

    &__title {
      font-weight: bold;
      color: $color-orange-red;
      font-size: 1.6rem;
      margin-bottom: 1.2rem;
    }

  }


  &-benefits {
    margin-bottom: 2rem;

    &__subtitle {
      font-size: 3rem;
      font-weight: 200;
      margin-bottom: 7px;
    }

    &__text {
      margin: 0 10rem;
    }

    &__item::before {
      padding-left: 0.3rem;
      content: '✔';
      color: $color-orange-red;
      font-size: 1.2rem;
    }

  }

  &-summary {
    margin: 3rem 0;
    font-size: 1.6rem;
  }

}


@media only screen and (max-width: 650px) {
  .service {
    &-text {
      font-size: 1.8rem;
      margin: 0 0 5rem;
    }

    &-header {
      &__title {

        font-size: 3.5rem;

      }
    }


    &-offerings {
      &__item {
        width: auto;
      }

      &__content {
        flex-direction: column;
        align-items: center;
        font-size: 1.5rem;
      }

      &__title {
        font-size: 2.6rem;
      }

      &__subtitle {
        font-size: 4rem;
      }

    }

    &-benefits {

      &__subtitle {
        font-size: 4rem;
      }

      &__text {
        margin: 3rem 0;
      }

      &__item {
        font-size: 1.6rem;
      }

      &__item::before {
        font-size: 2.2rem;
      }
    }

    &-summary {
      font-size: 2rem;
      font-weight: 500;
    }
  }
}